body, html {
    margin: 0;
    padding: 0;
    background-color: #000; /* Fondo negro para todo el cuerpo de la página */
}


.navbar {
    background-color: transparent !important;
    
}

.navbar-light .navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-item {
    margin-right: 20px; 
}

.navbar-light .navbar-nav .nav-link,
.navbar-brand {
    color: white !important; /* Asegura que el texto sea blanco */
    transition: color 0.2s;
}



.navbar-toggler {
    border-color: rgba(255,255,255,0.5);
}

.navbar-brand img {
    max-height: 40px; 
    width: auto; 
}

#quienes-somos {
    background-color: #000; /* Fondo general de la sección */

}

#quienes-somos h2 {
    margin-bottom: 1rem;
}



.icon-container {
    width: 100%; /* El contenedor del icono ocupa todo el ancho */
    padding: 1rem 0; /* Espacio por arriba y por abajo */
    background-color: #00bfaf; /* Color de fondo del contenedor del icono */
    margin-bottom: 1rem; /* Espaciado debajo del contenedor del icono */
}

.fas {
    color: #fff; /* Color de los íconos */
    font-size: 24px; /* Tamaño de los íconos */
}

#quienes-somos p {
    color: #fff; /* Color de texto para las descripciones */
    text-align: center;
}


#destacados {
    padding: 50px 0;
}

#destacados .card {
    background-color: #00bfaf; /* Las tarjetas son transparentes con bordes claros */
    border: 1px solid #00bfaf;
}

#destacados .card-img-top {
    height: 200px; /* Altura fija para las imágenes de las tarjetas */
    object-fit: cover;
}

#destacados .card-body {
    background-color: #00bfaf; /* Fondo oscuro para el cuerpo de las tarjetas */
}
